NEXT_PUBLIC_API_BASE_URL=https://be-sia.trpl.space/api

# brotcatst swicher: 'reverb' kalo local, 'pusher' kalo production, hmm tapi bisa aja jadi kalo reverb di laravel jalan di production sih
NEXT_PUBLIC_BROADCAST_PROVIDER=reverb

# QR Polling Interval (in milliseconds) - default 5000 (5 seconds)
NEXT_PUBLIC_QR_POLLING_INTERVAL=5000

# Reverb (local dev)
NEXT_PUBLIC_REVERB_APP_KEY=qi2l7jof7hedxkaxwkiy
NEXT_PUBLIC_REVERB_HOST=https://be-sia.trpl.space/
NEXT_PUBLIC_REVERB_PORT=443
NEXT_PUBLIC_REVERB_TLS=false

# Pusher (production) key minta mas fauza, gak ku kasih disini takut di hack akun ku wkwk
NEXT_PUBLIC_PUSHER_KEY=your_pusher_key
NEXT_PUBLIC_PUSHER_CLUSTER=ap1
NEXT_PUBLIC_PUSHER_HOST=ws.pusherapp.com
NEXT_PUBLIC_PUSHER_PORT=443
NEXT_PUBLIC_PUSHER_TLS=true